In [ ]:
record = [['a', 10], ['b', 8], ['c', 9], ['d', 11], ['e', 10]]

Print all the student names having second maximun marks

In [ ]:
max = 0
second_max = 0
for (student, marks) in record:
  if (marks>max):
    second_max = max
    max = marks

In [ ]:
for (student, marks) in record:
  if(marks == second_max):
    print(student)

a
e